.breadcrumb {
    font-family: var(--font-primary);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #ededed;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25);
    margin-bottom: 0;
    margin-top: 24px;
    padding: 12px;
    align-items: center;
    @media (max-width: 500px) {
        display: none;
    }
    &__col {
        display: flex;
        align-items: center;
    } 
    &__list { 
        align-items: center; 
        display: flex; 
        font-size: 14px; 
        font-weight: 400; 
        line-height: 1; 
        margin: 0; 
        padding: 0; 
        
    } 
    &__item { 
        display: inline-block; 
    }
    &__link { 
        cursor: pointer; 
        text-decoration: none; 
        color: var(--button-primary); 
        transition: color .2 ease-in-out; 
        &:hover {
            color: var(--button-primary-hover);
        }
        &-return {
            display: flex;
            margin: 0 25px 0 0;
            position: relative;
            text-wrap: nowrap;
            text-decoration: none;
            &::after{
                content: "";
                background-color: rgba(0,0,0, .2);
                height: 12px;
                position: absolute;
                right: -14px;
                bottom: 7px;
                width: 1px;
            }
        }
    }
    &__current{
        color: var(--button-primary);
        font-size: 14px;
    }
    &__separator {
        padding: 0 6px;
    }
    &__code{
        &--info {
            color: var(--black);
            font-weight: 200;
        }
    }
}