@use 'globals.scss';
@use 'header.scss';
@use 'search.scss';
@use 'navigation.scss';
@use 'slider.scss';
@use 'productList.scss';
@use 'breadcrumb.scss';
@use 'product.scss';
@use 'productGallery.scss';
@use 'pagination.scss';


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
}