@use 'globals.scss';
@use 'header.scss';
@use 'search.scss';
@use 'navigation.scss';
@use 'slider.scss';

// App layout styles
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
}